<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui autem aliquid similique tempora eius
        ut.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nam ipsam beatae hic libero similique unde ducimus
        quod? Quidem, eligendi?</p>

    <a href="https://github.com/LeopoldoDeLaLlave" class="btn btn-primary" target="_blank">Github</a>
</div>